<html ng-app="myApp">
<head lang="en">
    <meta charset="utf-8">
    <title>Anomali</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="app.js"></script>
    <script src="controller.js"></script>
</head>

<body  ng-controller="MainCtrl">
<div class="container">
    <h2>Test Form</h2>
    <form name="anomaliForm" class="form-horizontal" novalidate="novalidate">

    <div class="form-group">
        <label class="col-sm-3 text-right">Please select the destination</label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="filterCondition" ng-change="modVersion()" ng-options="item.value as item.name for item in items" name="destination" required>
            <option value="">No Selection</option>
            </select>
        </div>
    </div>

    <div class="form-group required" ng-if="filterCondition === 'ESM' || filterCondition === 'Splunk' || filterCondition === 'CSV'" >
        <label class="control-label col-sm-3">Name</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" required name="name" placeholder="Name" ng-model="name">
            <span ng-show="anomaliForm.name.$error.required && anomaliForm.name.$dirty">El campo es requerido</span>
        </div>
    </div>
        <div class="form-group" ng-if="filterCondition === 'ESM' || filterCondition === 'Splunk'">
            <label class="control-label col-sm-3">Version</label>
            <div class="col-sm-7">
                <select class="form-control" ng-model="filterCondition2.value">
                    <option ng-repeat="item2 in items2" value="{{item2.value}}">{{item2.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group required" ng-if="filterCondition === 'ESM'">
            <label class="control-label col-sm-3">Host</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="host" placeholder="Host" required ng-model="esm.host">
                <span ng-show="anomaliForm.host.$error.required && anomaliForm.host.$dirty">El campo es requerido</span>
            </div>
        </div>
        <div class="form-group required" ng-if="filterCondition === 'ESM'">
            <label class="control-label col-sm-3">Port</label>
            <div class="col-sm-7">
                <input type="number" class="form-control" name="port" required ng-model="esm.port">
                <span ng-show="anomaliForm.port.$error.required && anomaliForm.port.$dirty">El campo es requerido</span>
            </div>
        </div>
        <div class="form-group required" ng-if="filterCondition === 'ESM'">
            <label class="control-label col-sm-3">User</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="user" placeholder="User" required ng-model="user">
                <span ng-show="anomaliForm.user.$error.required && anomaliForm.user.$dirty">El campo es requerido</span>
            </div>
        </div>
        <div class="form-group required" ng-if="filterCondition === 'ESM'">
            <label class="control-label col-sm-3">Password</label>
            <div class="col-sm-7">
                <input type="password" class="form-control" name="pw" placeholder="Password" required ng-model="pw">
                <span ng-show="anomaliForm.pw.$error.required && anomaliForm.pw.$dirty">El campo es requerido</span>
            </div>
        </div>
        <div class="form-group" ng-if="filterCondition === 'ESM'">
            <label class="control-label col-sm-3">Syslog Host</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="syslogHost" placeholder="Syslog Host">
            </div>
        </div>
        <div class="form-group" ng-if="filterCondition === 'ESM'">
            <label class="control-label col-sm-3">Syslog Facility</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="syslogFacility" ng-model="esm.syslogFacility">
            </div>
        </div>
        <div class="form-group" ng-if="filterCondition === 'Splunk'">
            <label class="control-label col-sm-3">Integration type</label>
            <div class="col-sm-7">
                <select class="form-control">
                    <option value="app">app</option>
                    <option value="other">other</option>
                </select>
            </div>
        </div>
        <div class="form-group required" ng-if="filterCondition === 'Splunk'">
            <label class="control-label col-sm-3">Host</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" required ng-model="splunk.host" name="localhost" >
                <span ng-show="anomaliForm.localhost.$error.required && anomaliForm.localhost.$dirty">El campo es requerido</span>
            </div>
        </div>
        <div class="form-group required" ng-if="filterCondition === 'Splunk' && splunk.host !== 'localhost'">
            <label class="control-label col-sm-3">SSH port</label>
            <div class="col-sm-7">
                <input type="number" class="form-control" name="sshPort" required ng-model="splunk.sshPort">
                <span ng-show="anomaliForm.sshPort.$error.required && anomaliForm.sshPort.$dirty">El campo es requerido</span>
            </div>
        </div>
        <div class="form-group required" ng-if="filterCondition==='Splunk' && splunk.host!=='localhost'">
            <label class="control-label col-sm-3">SSH user</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="sshUser" placeholder="SSH User" required ng-model="splunk.sshUser">
                <span ng-show="anomaliForm.sshUser.$error.required && anomaliForm.sshUser.$dirty">El campo es requerido</span>
            </div>
        </div>
        <div class="form-group" ng-if="filterCondition==='Splunk' && splunk.host!=='localhost'">
            <label class="control-label col-sm-3">SSH auth</label>
            <div class="col-sm-7">
                <select class="form-control">
                    <option value="password">password</option>
                    <option value="other">other</option>
                </select>
            </div>
        </div>
        <div class="form-group required" ng-if="filterCondition==='Splunk' && splunk.host!=='localhost'">
            <label class="control-label col-sm-3">SSH password</label>
            <div class="col-sm-7">
                <input type="password" class="form-control" name="sshPassword" placeholder="SSH Password" required ng-model="splunk.sshPass">
                <span ng-show="anomaliForm.sshPassword.$error.required && anomaliForm.sshPassword.$dirty">El campo es requerido</span>
            </div>
        </div>
        <div class="form-group required" ng-if="filterCondition === 'Splunk'">
            <label class="control-label col-sm-3">Splunk home</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="splunkHome" required ng-model="splunk.splunkHome">
                <span ng-show="anomaliForm.splunkHome.$error.required && anomaliForm.splunkHome.$dirty">El campo es requerido</span>
            </div>
        </div>
        <div class="form-group" ng-if="filterCondition.value=='CSV'">
            <label class="control-label col-sm-3">Directory</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="directory" value="/tmp">
            </div>
        </div>
        <div class="form-group" ng-if="filterCondition === 'ESM' || filterCondition === 'Splunk' || filterCondition === 'CSV'">
            <label class="control-label col-sm-3">Filter<span class="glyphicon glyphicon-question-sign blue" uib-popover="Hola, soy una ayuda" popover-trigger="mouseenter" popover-placement="right-top"></span></label>
            <div class="col-sm-7">
                <textarea class="form-control" rows="5" name="filter"></textarea>
            </div>
        </div>
    </form>
    <div class="form-group" ng-if="filterCondition === 'ESM' || filterCondition === 'Splunk' || filterCondition === 'CSV'">
            <div class="col-sm-offset-3 col-sm-9">
                <p class="control-p"> is required field</p>
            </div>
        </div>
    <div class="form-group" ng-if="filterCondition === 'ESM' || filterCondition === 'Splunk' || filterCondition === 'CSV'">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary" ng-disabled="!anomaliForm.$valid" ng-click="onSubmit()">Submit</button>
        </div>
    </div>
</body>
</div>
</html>